<?xml version="1.0" encoding="utf-8"?>
<!-- This file is to be duplicated per developer/machine and populated. Remove '.example' suffix. -->
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<SSH_FILE>%USERPROFILE%/.ssh/playground</SSH_FILE>  <!-- The path to a ssh key that has access granted here: https://github.com/JeroenBos/JBSnorro/settings/secrets/actions-->
			<NODE_PATH>%USERPROFILE%\.nvm\versions\node\v16.14.2\bin\node.exe</NODE_PATH>  <!-- The path to the node executable to use for testing. -->
			<DEBUG_OUT>%USERPROFILE%\Desktop\debug_out.txt</DEBUG_OUT> <!-- Optional: The path to output debug logs. -->
		</EnvironmentVariables>
		<TestCaseFilter>TestCategory!=Integration</TestCaseFilter>
	</RunConfiguration>
</RunSettings>
